.pAbout{
   font-size: larger;
   font-family: var(--primay-font);
   margin-left: 20%;
   margin-right: 20%;
}
@keyframes slideUp {
   from {
     opacity: 0;
     transform: translateY(50px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
.h1About{
   font-family: var(--primay-font);
   color: var(--secondary-color);
   
}
.h2About{
   font-family: var(--primay-font);
   color: var(--secondary-color);
   opacity: 0;
   transform: translateY(50px);
   transition: all 1s ease-out;
}
.h2About.animate {
   opacity: 1;
   transform: translateY(0);
 }