 .pOfNav{
   background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: large;
 }
.navCo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.nav-icons-container {
  display: flex;
  gap: 20px;
}

.nav-icons {
  width: 30px;
  height: auto;
}
.imageLogo{
  align-items: center;
  width: 250px;
}

@media (max-width: 1366px) { /*Laptops with 15.6-inch screens */
  .imageLogo {
    width: 200px; /*Customized size*/
  }

}

@media (max-width: 1024px) { /* Tablets */
  .imageLogo {
    width: 150px; /*Customized size*/
  }
  .nav-icons {
  width: 25px;
  height: auto;
}
}

@media (max-width: 768px) { /*Mobile phones*/
  .imageLogo {
    width: 100px; /*Customized size*/
  }
  .nav-icons {
  width: 20px;
  height: auto;
}
}